<!-- about.html.erb -->
<div class="indexhero"></div>
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box text-center">
  <p>I have provided high-quality wedding planning services for more than 20 years. Carefully listening to my customers' wishes and understanding their vision, I do everything possible to exceed the customers expectations. No matter how big or small the wedding, I go above and beyond to make the planning process enjoyable and the wedding day as unique and memorable as possible.</p>
  <b>Please contact me for more information:</b>
  <p>630.215.5439 • gotsomeinfo121@gmail.com</p>
</div>
<br class="clear" />
<br />