<!-- gallery.html.erb -->
<div class="row"><%= image_tag 'redroseback.png', :class => 'img-responsive' %></div>
<br />
<br />
<div class="text-center">In the finished site this page can have thumbnails that can expand to larger sizes when clicked. Jan will be able to upload photos herself.</div>
<br />
<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <%= image_tag 'jazparty.jpg', :class => 'img-responsive gal-img' %>
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <%= image_tag 'jazcards.jpg', :class => 'img-responsive gal-img' %>
</div>
<br class="clear" />
<br />