<!-- gallery.html.erb -->
<br />
<br />
<br />
<br />
<div class="col-xs-6 col-xs-offset-3">
  <%= image_tag 'jazparty.jpg', :class => 'img-responsive gal-img' %>
</div>
<br class="clear" />
<br />
<div class="col-xs-6 col-xs-offset-3">
  <%= image_tag 'jazcards.jpg', :class => 'img-responsive gal-img' %>
</div>
<br class="clear" />
<br />