<div class="indexhero"></div>
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we will have a selection of testamonials
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we will have a selection of testamonials
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we will have a selection of testamonials
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we will have a selection of testamonials
</div>
<br class="clear" />
<br />
<br />