<div class="indexhero"></div>
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we might have a selection of testimonials.<br />
  Domain option 1: weddingsbyjanetj.com
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we might have a selection of testimonials.<br />
  Domain option 2: plannedbyjan.com
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we might have a selection of testimonials.<br />
  Domain option 3: weddingsbyjdj.com
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we might have a selection of testimonials.<br />
  Domain option 4: janjdesigns.com
</div>
<br class="clear" />
<br /><div class="col-xs-10 col-xs-offset-1 jdj-box">
  This is where we might have a selection of testimonials.<br />
  Domain option 5: jdjweddings.com
</div>
<br class="clear" />
<br />
<br />