<!-- services.html.erb -->
<div class="row"><%= image_tag 'redroseback.png', :class => 'img-responsive' %></div>
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  <b>Bronze Service:</b>
  <ul>
    <li>30-minute free consultation</li>
    <li>2-hour planning consultation</li>
    <li>Customized planning calendar/event timeline</li>
    <li>Etiquette guidelines</li>
    <li>Assistance at Rehearsal</li>
    <li>Directing the wedding [including ceremony and reception]</li>
  </ul>
  <i>Price Range: $700.00 - $800.00</i>
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  <b>Silver Service:</b>
  <ul>
    <li>30-minute free consultation</li>
    <li>3-hour planning consultation</li>
    <li>Customized planning calendar/event timeline</li>
    <li>Etiquette guidelines</li>
    <li>Assistance at Rehearsal</li>
    <li>Directing the wedding [including ceremony and reception]</li>
  </ul>
  <i>Price Range: $800.00 - $900.00</i>
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  <b>Platinum Service:</b>
  <ul>
    <li>30-minute free consultation</li>
    <li>5-hour planning consultation</li>
    <li>Customized planning calendar/event timeline</li>
    <li>Etiquette guidelines</li>
    <li>Assistance at Rehearsal</li>
    <li>Directing the wedding [including ceremony and reception] – 6 hours</li>
  </ul>
  <i>Price Range: $1,450.00 - $1,550.00</i>
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 jdj-box">
  <b>Gold Service:</b>
  <ul>
    <li>30-minute free consultation</li>
    <li>Planning consultation as needed – up to 40 hours</li>
    <li>Customized planning calendar/event timeline</li>
    <li>Etiquette guidelines</li>
    <li>Assistance in securing all vendors and venues</li>
    <li>Assistance with selecting hotel accommodations for out of town guests</li>
    <li>Assistance with Save the dates, invitations, place cards, wedding programs, menus, favors, etc.</li>
    <li>Assistance with Welcome packets for out of town guests</li>
    <li>Assistance at Rehearsal</li>
    <li>Directing the wedding [including ceremony and reception] – 8 hours</li>
  <i>Price Range: $1,800.00 - $3,000.00</i>
</div>
<br class="clear" />
<br />