@-ms-viewport{
  width: device-width;
}
.clear {
  clear:both;
}

.indexhero {
  background: url('whiterosesback.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:800px;
  box-shadow: 0px 1px 3px #2a2a2a;
}
.wrhero {
  background: url('whiterosesback.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:500px;
  box-shadow: 0px 1px 3px #2a2a2a;
}
.img-responsive {
  margin: 0 auto;
}

.gal-img {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.jdj-box {
  -moz-box-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
  box-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
  background: rgba(255, 255, 204, 1);
  border: 1px solid; // #ccc;
  border-color: #ccc2b8 #b2aaa1 #b2aaa1 #ccc2b8;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 6px;
  // text-align: center;
}

.jansig {
  font-family: 'great_vibesregular';
  font-size: 40px;
  color: black;  
}
.weddingsplash {
  font-family: 'great_vibesregular';
  font-size: 96px;
  color: red;
  text-shadow: 3px 3px #000000;
  padding-top: 200px;
}

body {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url('/assets/green_cup.png');
}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}

.navbar-inverse .navbar-brand {
  font-family: 'great_vibesregular';
  font-size: 36px;
  color: #ffffcc;
  text-shadow: 2px 2px #000000;
}

.navbar-inverse {
  box-shadow: 0px 1px 3px #000;
}

/***********************************************************************
*  MOBILE OVERRIDES SECTION
***********************************************************************/

@media (max-width: 750px) {
  .weddingsplash {
    font-size: 72px;
    text-shadow: 2px 2px #000000;
    padding-top: 120px;
  }
  .indexhero {
    height: 650px;
  }
  .navbar-inverse .navbar-brand {
    font-size: 24px;
  }
}